API_ID= 34648430
API_HASH= 99fb542639ab5f8e63c740acf7842abb
TOKEN= 8814303337:AAHJ0798p0c0qGMZtUPn_y3pADQGEBdxh60
LOGGER_ID= -5237204036
MONGO_DB_URI= mongodb+srv://sikander025tg_db_user:A0Ksjm2i4r4znwy2@cluster0.xuelgmt.mongodb.net/?appName=Cluster0
STRING_SESSIONS= AgIQsW4AcbxlcMVtQB4iAGTnl_b_x1rXtAexAPrl0QAymMZztmZEmrVqRPDbwZCMr4SkocMS0-INPr2gbya2O_h_eCF76ZHX8ltveeVKM_TAlOEbiJ8sLxa1qRhIybCE8sQzaQwj64j-fkWb-8NHlu6SHbgDv4LzKqebXp5tA5c7tQlD5PdGMqIoDuy-o-7KwXef2CknY6tMjTi7r-I0enmXISjsA3AkbnBENlUfwXXmkUoT1tAF6KFNy_TB4ksLlY3YOFkTzmnfun_R9uHqW_9Cv-yI1G6dn1bzLtMqfzbAFyInldgrlDhsaZNlPMgSv_Qt-0vM1IYq_7yDm0WKmwjq5I9nGgAAAAIDOLReAA
OWNER_ID= 8795414946
ARC_API_KEY=          # get from https://deadlinetech.site
